*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  animation: show .7s linear forwards;
  clip-path: polygon(100% 0, 100% 100%);
}

@keyframes show {
  to {
    z-index: -1;
    clip-path: polygon(0 0, 100% 100%);
  }
}

.grid::before,
.grid::after {
  content: '';
  display: block;
  height: 100%;
  grid-row: 1/-1;
  background-color: #ec4c4c;
  z-index: -1;
}

.grid::after {
  background-color: steelblue;
  grid-column: 3/-1;
}

.grid__img {
  grid-area: 2/2/-2/4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.grid__texts {
  grid-area: 2/5/-2/-2;
  display: grid;
  gap: 30px;
  align-content: center;
}

.grid__title {
  font-size: 3rem;
}

.grid__paragraph {
  line-height: 1.7;
  font-size: 1.2rem;
}

.cta {
  display: block;
  background-color: #ec4c4c;
  color: #fff;
  padding: 25px 0;
  width: 200px;
  text-align: center;
  border-radius: 8px;
}

.menu {
  position: fixed;
  top: 40px;
  right: 40px;
}

.menu__label {
  background-color: #4a4e69;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  animation: forbidden 1s linear forwards;
}

@keyframes forbidden {
  0%, 80% {
    cursor: not-allowed;
  }
  100% {
    cursor: pointer;
  }
}

.menu__hamburguer {
  transform: scale(1);
  transition: transform .5s;
}

.menu__checked {
  display: none;
}

.menu__checked:checked ~ .menu__label {
  transform: scale(0);
  transition: none;
}

.menu__links {
  position: fixed;
  inset: 0;
  background-color: #52b788;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  clip-path: circle(0 at top right);
  transition: clip-path 1.3s;
}

.menu__link {
  color: #fff;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(-20%);
  animation: showLink 1s forwards;
}

.menu__checked:checked ~ .menu__links {
  clip-path: circle(150% at top right);
}

.menu__link:nth-child(1) {
  animation-delay: 1.5s;
}

.menu__link:nth-child(2) {
  animation-delay: 2s;
}

.menu__link:nth-child(3) {
  animation-delay: 2.5s;
}

.logout,
.login {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 999;
}

.login {
  left: 3rem;
}

@keyframes showLink {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
