.form_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 1rem;
}
.activePointer{
  cursor: pointer;
}
.noActivePointer{
  cursor: not-allowed;

}
